{%- set editions_data = load_data(path="static/editii_OLR.toml") -%}

<style>
	.events_container {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		width: 100%;
	}

	.event {
		flex: 0 1 calc(50% - 1rem);
  		min-width: 30%;

		/* background-color: var(--fg-muted-2); */
		box-shadow: var(--edge-highlight);
		border-radius: var(--rounded-corner);

		padding-left: 15px;
		padding-right: 15px;
	}

	.event-type {
		margin: 0.5rem 0 1rem;
		font-style: oblique;
	}

	.event-categories {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: var(--rounded-corner);
		overflow: hidden;
	}

	.event-category-row {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		padding: 0.6rem 1rem;
	}

	.event-category-row:nth-child(odd) {
		background-color: var(--fg-muted-1);
	}

	.event-category-row:nth-child(even) {
		background-color: var(--fg-muted-2);
	}

	.event-category-type {
		text-align: left;
		font-weight: 500;
	}

	.event-category-links {
		text-align: center;
		white-space: nowrap;
	}

	.event-category-links a {
		text-decoration: none;
		font-weight: 500;
	}

	.event-category-links a:hover {
		text-decoration: underline;
	}

	.event-category-links .dot {
		margin: 0 0.5rem;
		opacity: 0.6;
	}

	.event-category-links .disabled {
		opacity: 0.5;
		cursor: default;
	}

	@media (max-width: 600px) {
		.event {
			flex: 0 1 100%;
			padding: 0;
		}
	}
</style>

<div>
	{% for edition in editions_data.edition %}
		<h3>{{ edition.name }}</h3>
		<div class="events_container">
			{% for event in edition.event %}
				<div class="event">
					<h4 class="event-type">
						{{ event.type }}
					</h4>
					<div class="event-categories">
						{% for category in event.category %}
						<div class="event-category-row">
							<div class="event-category-type">
								{{ category.type }}
							</div>

							<div class="event-category-links">
								{% if category.problems %}
									<a href="{{ category.problems }}">Subiecte</a>
								{% else %}
									<span class="disabled">Subiecte</span>
								{% endif %}
						
								<span class="dot">·</span>
						
								{% if category.solutions %}
									<a href="{{ category.solutions }}">Soluții</a>
								{% else %}
									<span class="disabled">Soluții</span>
								{% endif %}
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>
